/*CSS for Top 12 horizontal scrolling container*/  
/*For the scrolling container*/     
#card {
    background-color: rgba(128, 128, 128, 0.575);
    min-width: 100%;
    min-height: auto;
    overflow-x: scroll; /*Ensures browser only scrolls the .card section*/
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    z-index: 0;
}
.cardContent {
    background-image: url("/icons/card.jpg");
    background-position: center;
    background-size: 128px 238px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-color: yellow; /* Backup gray backdrop in case image fails to load */
    width: 200px; /*Does not do anything until I zoom out. That's when it fixes card width*/
    height: 195px;
    margin: 10px; /*Sets border between seperate cards*/
}
.cardPoster {
    margin-left: 20px;
    margin-right: 22px;
    margin-top: 12px;
    width: 80px;
    height: 117px;
}