.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
#main_panel{
  width: 45%;
  margin: 20px;
}
#outputBox {
  border: 1px solid black;
  min-height: 35vh;
  margin: 20px;
  overflow-y: scroll;
  width: 40%;
}
#controlButtons {
  margin: 20px;
}
#controlButtons button{
  margin: 10px;
}

#nameInput_input { 
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
#nameInput_input div { 
  max-width: 50%;
}
#nameInput_buttons button { 
  margin: 10px;
}
