//- Layout file that can be extended by other Pug files in this project
doctype html
html
  head
    title Staff Directory
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }

  body
    main#main
    h1.ui.center.aligned.header Staff Directory
    .ui.container
      //- "block content" and "block footer" may be replaced by child templates
      block content

    block footer
      //- Content below is backup if child template does not redefine
      footer
        p © #{new Date().getFullYear()} My Company